@import '../tokens/typography.css';
@import '../tokens/colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  background-color: #f8f9fa;
}

#root {
  min-height: 100vh;
}
